certifi==2023.7.22
chardet==3.0.4
dominate==2.3.1
idna==2.6
numpy==1.22.0
Pillow==10.3.0
PyYAML==5.4
pyzmq==16.0.3
requests==2.20.1
six==1.11.0
torch==1.13.1
torchfile==0.1.0
torchvision==0.2.1
tornado==6.3.3
urllib3==1.26.5
visdom==0.1.7
